## Data exploration for read_csv tests

In [1]:
# import 
import pandas as pd

In [2]:
# read data 
df = pd.read_csv('dataset/1500000SalesRecords.csv')

In [3]:
# dimension
print(df.shape)

(1500000, 14)

In [4]:
# top three rows
df.head(3)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00

In [5]:
# columns info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Region          1500000 non-null  object
 1   Country         1500000 non-null  object
 2   Item Type       1500000 non-null  object
 3   Sales Channel   1500000 non-null  object
 4   Order Priority  1500000 non-null  object
 5   Order Date      1500000 non-null  object
 6   Order ID        1500000 non-null  int64
 7   Ship Date       1500000 non-null  object
 8   Units Sold      1500000 non-null  int64
 9   Unit Price      1500000 non-null  float64
 10  Unit Cost       1500000 non-null  float64
 11  Total Revenue   1500000 non-null  float64
 12  Total Cost      1500000 non-null  float64
 13  Total Profit    1500000 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 160.2+ MB